@using Intellipix.Extensions
@if (Request.IsAuthenticated && CustomAuthorizeAttribute.AuthorizationEnabled)
{
    <li>
        <a id="profile-link">@User.Identity.Name</a>
    </li>
    <li>
        @Html.ActionLink("Sign out", "SignOut", "Account")
    </li>
}
else
{
    if (CustomAuthorizeAttribute.AuthorizationEnabled)
    {
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
}